<ul>
  <li v-if="imagePosition === 'left'">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div id="news-Category" class="carousel slide" data-ride="carousel">
        <div class="next-prev">
          <a class="left news-control" href="javascript:void(0);" data-slide="prev">
            <span class="news-arrow-left">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </span>
          </a>
          <a class="right news-control" href="javascript:void(0);" data-slide="next">
            <span class="news-arrow-right">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </span>
          </a>
        </div>
        <div class="carousel-inner">
          <div class="item" :class="{active: index===0}" v-for="(media,index) in coNews.multimedia" v-if="coNews.multimedia.length"
            :key="index">
            <div class="blog-image">
              <a href="javascript:void(0);">
                <i class="fa fa-link" aria-hidden="true"></i>
                <img :src="imageUrlParser(media.url) " :alt="media.crop_name">
              </a>
            </div>
          </div>
          <div class="item active" v-if="coNews.multimedia.length === 0">
            <div class="blog-image">
              <a href="blog-single.html">
                <i class="fa fa-link" aria-hidden="true"></i>
                <img src="/static/images/world-cat/1.jpg" alt="category photo">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <h3>
        <a href="javascript:void(0);" @click="handleView()">{{coNews.headline.main}}</a>
      </h3>
      <span class="date">
        <i class="fa fa-user" aria-hidden="true"></i>{{coNews.source}}</span>
      <span class="date">
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>{{getDate(coNews.pub_date)}}</span>
      <span class="like">
        <a href="javascript:void(0);">
          <i class="fa fa-comment-o" aria-hidden="true"></i> {{coNews.word_count}} </a>
      </span>
      <p v-html="coNews.snippet"></p>
    </div>
  </li>
  <li v-else>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <h3>
        <a href="javascript:void(0);" @click="handleView()">{{coNews.headline.main}}</a>
      </h3>
      <span class="date">
        <i class="fa fa-user" aria-hidden="true"></i>{{coNews.source}}</span>
      <span class="date">
        <i class="fa fa-calendar-check-o" aria-hidden="true"></i>{{getDate(coNews.pub_date)}}</span>
      <span class="like">
        <a href="javascript:void(0);">
          <i class="fa fa-comment-o" aria-hidden="true"></i> {{coNews.word_count}} </a>
      </span>
      <p v-html="coNews.snippet"></p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div id="news-Category" class="carousel slide" data-ride="carousel">
        <div class="next-prev">
          <a class="left news-control" href="javascript:void(0);" data-slide="prev">
            <span class="news-arrow-left">
              <i class="fa fa-angle-left" aria-hidden="true"></i>
            </span>
          </a>
          <a class="right news-control" href="javascript:void(0);" data-slide="next">
            <span class="news-arrow-right">
              <i class="fa fa-angle-right" aria-hidden="true"></i>
            </span>
          </a>
        </div>
        <div class="carousel-inner">
          <div class="item" :class="{active: index===0}" v-for="(media,index) in coNews.multimedia" v-if="coNews.multimedia.length"
            :key="index">
            <div class="blog-image">
              <a href="javascript:void(0);">
                <i class="fa fa-link" aria-hidden="true"></i>
                <img :src="imageUrlParser(media.url) " :alt="media.crop_name">
              </a>
            </div>
          </div>
          <div class="item active" v-if="coNews.multimedia.length === 0">
            <div class="blog-image">
              <a href="blog-single.html">
                <i class="fa fa-link" aria-hidden="true"></i>
                <img src="/static/images/world-cat/1.jpg" alt="category photo">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
