<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row" v-for="(item, index) in source" :key="index">
      <listing-item :news="item" @view="handleView(item)" :image-position="index%2 === 0 ? 'left':'right'"></listing-item>
    </div>
    <div class="pagination-area">
      <ul>
        <li>
          <a href="javascript:void(0);">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </a>
        </li>
        <li class="" :class="{active: page === vModel}" v-for="(page,index) in pageDisplayed.limitation" :key="index" @click="() => vModel=page">
          <a href="javascript:void(0);">{{page + 1}}</a>
        </li>
        <li>
          <a href="javascript:void(0);">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
